.cartModal {
  width: 100%;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.cart {
  padding: 2rem;
}

.cart__top {
  display: flex;
  justify-content: space-between;
}

.cart__items {
  min-height: 100px;
  max-height: 200px;
  overflow-y: scroll;
}

.cart__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
}

.item__image {
  height: 8rem;
}

.item__desc {
  width: 50%;
}

.item__name {
  font-weight: 600;
}

.cart__items::-webkit-scrollbar {
  display: none;
}

.cart__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart__totalPrice {
  font-weight: 600;
}

.cart__buttons {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.cart__button {
  border: 2px solid transparent;
}

.cart__remove {
  font-weight: 300;
  text-decoration: underline;
}

.cart__button:nth-of-type(1):hover {
  border: 2px solid #101010;
}

.cart__button:nth-of-type(2) {
  background-color: rgb(216, 125, 74);
  color: #fff;
}

.cart__button:nth-of-type(2):hover {
  filter: brightness(1.2);
}

.cart__remove:hover,
.cart__remove:focus {
  color: rgb(216, 125, 74);
  border: none;
}

@media screen and (min-width: 760px) {
  .cartModal {
    /* margin: 8rem auto; */
    width: 60%;
  }
}

@media screen and (min-wdith: 1000px) {
  .item__desc {
    padding: 0 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}

.button {
  background-color: transparent;
}

.button:hover,
.button:focus {
  color: rgb(216, 125, 74);
}

.button__add {
  background-color: #f1f1f1;
}

.counter {
  margin: 0 1rem;
  font-weight: 600;
}
