.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 4rem 0;
}

.content {
  width: 100%;
  padding: 2rem;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
}

.content a {
  background-color: transparent;
  color: #101010;
  border: 2px solid #101010;
}

.content a:hover {
  color: #101010;
}

.imageWrapper {
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 0.5rem;
  overflow: hidden;
}

.image {
  width: 100%;
}

@media screen and (min-width: 760px) {
  .wrapper {
    flex-direction: row;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }

  .imageWrapper {
    width: 50%;
  }
}
